:root {
    --total-width: 75%;
    --total-height: 50px;

    --anim-direction: none;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


/* --- INSTRUCTIONS --- */
h1 {
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: #e8e8e8;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    h1 {
        font-size: 58px;
    }

  .instructions ul {
    width: 90vw;
  }

  .instructions li {
    font-size: 1.4em;
  }
}

/* --- FORM ---- */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    order: 1;
}

form p {
    text-decoration: underline;
}

#color-input {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 28px;
}

#color-input label {
    margin-right: 4px;
    margin-left: 12px;
}

#color-input-title {
    margin: 0 5px;
    font-size: 14px;
}

/* the last three integer inputs */
.int-input {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

input[type=number] {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #222;
  border-radius: 4px;
  margin: 8px 0;
}

input[type=number]:focus {
  background-color: rgb(236, 234, 234);
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    form p {
        font-size: 28px;
        text-align: center;
    }

    .color-input-title {
        font-size: 25px;;
        margin-top: 20px;
    }

    #color-input :first-child {
        margin-top: 0;
    } 

    form label {
        font-size: 28px;
    }

    form input[type=number] {
        border: 2px solid #222;
        font-size: 25px;
    }

    ::placeholder {
        font-size: 25px;
    }

    #color-input {
        flex-direction: column;
    }

    .num-colors-input p {
        margin: 28px 0;
    }

    .radio-button {
        padding-left: 35px;
        margin-bottom: 12px;
        margin-right: 40px;
        font-size: 28px;
    }

    .checkmark {
        width: 32px;
        height: 32px;
    }

    .int-input-title {
        margin-top: 20px;
    }

    input[type=number] {
        width: 50vw;
        height: 2.5vh;
    }
}

/* --- ANIMATION --- */
.animation {
    flex-direction: column;
    order: 2;
}

#separate {
    width: 100%;
    height: 1px;
    border-top: 2px dashed #222;
}

#main {
    display: flex;
    width: var(--total-width);
    height: var(--total-height);
    border: 1px solid black;
    margin: 20px auto 20px auto;
    padding: 1px;
    border-radius: 10px;
}

#main div {
    flex: 1 auto;
    background: var(--color1);
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  #main {
    width: 90vw;
    height: 5vh;
  }
}

/* BUTTONS */
.button {
    display: block;
    margin: 10px auto;
    background-color: #ddd;
    color: #222;
    border-radius: 4px;
    border: none;
    text-align: center;
}

#reset-button {
    color: #222;
    width: 40vw;
    background-color: white;
    border: 1px solid #f44336;
    padding: 8px;
    transition-duration: 0.4s;
}

#start-button {
    color: #222;
    width: 40vw;
    background-color: white;
    border: 1px solid #4CAF50 ;
    padding: 8px;
    transition-duration: 0.4s;
}

#pause-button {
    color: #222;
    width: 30vw;
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px;
    transition-duration: 0.2s;
}

#reset-button:hover {
    background-color: #f44336;
    color: white;
}

#start-button:hover {
    background-color: #4CAF50;
    color: white;
}

#pause-button:hover {
    background-color: #ccc;
}  

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .button {
        font-size: 32px;
    }

    #start-button, #pause-button, #reset-button {
        padding: 8px;
        margin: 30px auto;
        width: 60vw;
        height: 3.5vh;
        transition-duration: 0;
    }

    #start-button {
        border: 2px solid #4CAF50;
    }

    #start-button:active {
        background-color: #4CAF50;
        color: white;
    }

    #pause-button {
        width: 55vw;
        border: 2px solid #ccc;
    }

    #pause-button:active {
        background-color: #ccc;
    }

    #reset-button {
        border: 2px solid #f44336;
    }

    #reset-button:active {
        background-color: #f44336;
        color: white;
    }
}