:root {
    --total-width: 75%;
    --total-height: 50px;
    --margin-around: 2px;

    --anim-transition: linear;
    --anim-direction: none;
  }
  
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}


/* --- INSTRUCTIONS --- */
.instructions {
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

.instructions h1 {
  background-color: #f4ab61;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 5px 0;
}

.instructions ul {
  background-color: #ccc;
  width: 65%;
  text-align: center;
  margin: 15px auto 5px auto;
  list-style: none;
  padding: 0;
  border-radius: 8px;
}

.instructions li{
  text-align: center;
  padding: 5px;
}


/* --- FORM ---- */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  order: 1;
}

#color-input {
  display: flex;
  align-items: center;
  width: 80%;
}

#color-input label {
  margin: 0 5px;
}

#number-of-colors-input {
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  padding: 2px;
}

.num-colors-input {
  display: block;
}

.num-colors-input > p {
  margin: 8px 0;
}

/* the last three integer inputs */
.int-input {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

input[type=text], input[type=number], input[type=submit] {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #222;
  border-radius: 4px;
  margin: 8px 0;
}

input[type=text]:focus, input[type=number]:focus {
  background-color: #ddd;
}


/* --- ANIMATION --- */
.animation {
  flex-direction: column;
  order: 2;
}

#separate {
  width: 100%;
  height: 1px;
  border-top: 2px dashed #222;
}

#main {
  display: flex;
  width: var(--total-width);
  height: var(--total-height);
  border: 1px solid black;
  margin: 20px auto 20px auto;
  padding: 1px;
  border-radius: 10px;
}

#main div {
  flex: 1 auto;
  background: var(--color1);
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;
}

/* BUTTONS */
.button {
  /* display: flex; */
  display: block;
  margin: 10px auto;
  background-color: #ddd;
  color: #222;
  border-radius: 4px;
  border: none;
  text-align: center;
}

#reset-button {
  color: #222;
  width: 150px;
  background-color: white;
  border: 1px solid #f44336;
  padding: 8px;
  transition-duration: 0.4s;
}

#start-button {
  color: #222;
  width: 150px;
  background-color: white;
  border: 1px solid #4CAF50 ;
  padding: 8px;
  transition-duration: 0.4s;
}

#pause-button {
  color: #222;
  width: 125px;
  background-color: white;
  border: 1px solid #ccc;
  transition-duration: 0.2s;
}

#reset-button:hover {
  background-color: #f44336;
  color: white;
}

#start-button:hover {
  background-color: #4CAF50;
  color: white;
}

#pause-button:hover {
  background-color: #ccc;
}


  /* .block-0 {
    animation: var(--progress-bar-0) var(--anim-time) var(--anim-transition) var(--iterations) var(--anim-direction);
  }
  .block-1 {
    animation: progress-bar-1 var(--anim-time) var(--anim-transition) var(--iterations) var(--anim-direction);
  }
  .block-2 {
    animation: progress-bar-2 var(--anim-time) var(--anim-transition) var(--iterations) var(--anim-direction);
  }
  .block-3 {
    animation: progress-bar-3 var(--anim-time) var(--anim-transition) var(--iterations) var(--anim-direction);
  }
  .block-4 {
    animation: progress-bar-4 var(--anim-time) var(--anim-transition) var(--iterations) var(--anim-direction);
  }
  .block-5 {
    animation: progress-bar-5 var(--anim-time) var(--anim-transition) var(--iterations) var(--anim-direction);
  }
  .block-6 {
    animation: progress-bar-6 var(--anim-time) var(--anim-transition) var(--iterations) var(--anim-direction);
  }
  .block-7 {
    animation: progress-bar-7 var(--anim-time) var(--anim-transition) var(--iterations) var(--anim-direction);
  }
  .block-8 {
    animation: progress-bar-8 var(--anim-time) var(--anim-transition) var(--iterations) var(--anim-direction);
  }
  .block-9 {
    animation: progress-bar-9 var(--anim-time) var(--anim-transition) var(--iterations) var(--anim-direction);
  }

  @keyframes progress-bar-0 {
    0% {
      background-color: var(--color1);
    }
    10% {
      background-color: var(--color2);
    }
    20% {
      background-color: var(--color3);
    }
    30% {
      background-color: var(--color0);
    }
    40% {
      background-color: var(--color0);
    }
    50% {
      background-color: var(--color0);
    }
    60% {
      background-color: var(--color0);
    }
    70% {
      background-color: var(--color0);
    }
    80% {
      background-color: var(--color3);
    }
    90% {
      background-color: var(--color2);
    }
    100% {
      background-color: var(--color1);
    }
  }
  @keyframes progress-bar-1 {
    0% {
      background-color: var(--color2);
    }
    10% {
      background-color: var(--color1);
    }
    20% {
      background-color: var(--color2);
    }
    30% {
      background-color: var(--color3);
    }
    40% {
      background-color: var(--color0);
    }
    50% {
      background-color: var(--color0);
    }
    60% {
      background-color: var(--color0);
    }
    70% {
      background-color: var(--color0);
    }
    80% {
      background-color: var(--color0);
    }
    90% {
      background-color: var(--color3);
    }
    100% {
      background-color: var(--color2);
    }
  }
  @keyframes progress-bar-2 {
    0% {
      background-color: var(--color3);
    }
    10% {
      background-color: var(--color2);
    }
    20% {
      background-color: var(--color1);
    }
    30% {
      background-color: var(--color2);
    }
    40% {
      background-color: var(--color3);
    }
    50% {
      background-color: var(--color0);
    }
    60% {
      background-color: var(--color0);
    }
    70% {
      background-color: var(--color0);
    }
    80% {
      background-color: var(--color0);
    }
    90% {
      background-color: var(--color0);
    }
    100% {
      background-color: var(--color3);
    }
  }
  @keyframes progress-bar-3 {
    0% {
      background-color: var(--color0);
    }
    10% {
      background-color: var(--color3);
    }
    20% {
      background-color: var(--color2);
    }
    30% {
      background-color: var(--color1);
    }
    40% {
      background-color: var(--color2);
    }
    50% {
      background-color: var(--color3);
    }
    60% {
      background-color: var(--color0);
    }
    70% {
      background-color: var(--color0);
    }
    80% {
      background-color: var(--color0);
    }
    90% {
      background-color: var(--color0);
    }
    100% {
      background-color: var(--color0);
    }
  }
  @keyframes progress-bar-4 {
    0% {
      background-color: var(--color0);
    }
    10% {
      background-color: var(--color0);
    }
    20% {
      background-color: var(--color3);
    }
    30% {
      background-color: var(--color2);
    }
    40% {
      background-color: var(--color1);
    }
    50% {
      background-color: var(--color2);
    }
    60% {
      background-color: var(--color3);
    }
    70% {
      background-color: var(--color0);
    }
    80% {
      background-color: var(--color0);
    }
    90% {
      background-color: var(--color0);
    }
    100% {
      background-color: var(--color0);
    }
  }
  @keyframes progress-bar-5 {
    0% {
      background-color: var(--color0);
    }
    10% {
      background-color: var(--color0);
    }
    20% {
      background-color: var(--color0);
    }
    30% {
      background-color: var(--color3);
    }
    40% {
      background-color: var(--color2);
    }
    50% {
      background-color: var(--color1);
    }
    60% {
      background-color: var(--color2);
    }
    70% {
      background-color: var(--color3);
    }
    80% {
      background-color: var(--color0);
    }
    90% {
      background-color: var(--color0);
    }
    100% {
      background-color: var(--color0);
    }
  }
  @keyframes progress-bar-6 {
    0% {
      background-color: var(--color0);
    }
    10% {
      background-color: var(--color0);
    }
    20% {
      background-color: var(--color0);
    }
    30% {
      background-color: var(--color0);
    }
    40% {
      background-color: var(--color3);
    }
    50% {
      background-color: var(--color2);
    }
    60% {
      background-color: var(--color1);
    }
    70% {
      background-color: var(--color2);
    }
    80% {
      background-color: var(--color3);
    }
    90% {
      background-color: var(--color0);
    }
    100% {
      background-color: var(--color0);
    }
  }
  @keyframes progress-bar-7 {
    0% {
      background-color: var(--color0);
    }
    10% {
      background-color: var(--color0);
    }
    20% {
      background-color: var(--color0);
    }
    30% {
      background-color: var(--color0);
    }
    40% {
      background-color: var(--color0);
    }
    50% {
      background-color: var(--color3);
    }
    60% {
      background-color: var(--color2);
    }
    70% {
      background-color: var(--color1);
    }
    80% {
      background-color: var(--color2);
    }
    90% {
      background-color: var(--color3);
    }
    100% {
      background-color: var(--color0);
    }
  }
  @keyframes progress-bar-8 {
    0% {
      background-color: var(--color3);
    }
    10% {
      background-color: var(--color0);
    }
    20% {
      background-color: var(--color0);
    }
    30% {
      background-color: var(--color0);
    }
    40% {
      background-color: var(--color0);
    }
    50% {
      background-color: var(--color0);
    }
    60% {
      background-color: var(--color3);
    }
    70% {
      background-color: var(--color2);
    }
    80% {
      background-color: var(--color1);
    }
    90% {
      background-color: var(--color2);
    }
    100% {
      background-color: var(--color3);
    }
  }
  @keyframes progress-bar-9 {
    0% {
      background-color: var(--color2);
    }
    10% {
      background-color: var(--color3);
    }
    20% {
      background-color: var(--color0);
    }
    30% {
      background-color: var(--color0);
    }
    40% {
      background-color: var(--color0);
    }
    50% {
      background-color: var(--color0);
    }
    60% {
      background-color: var(--color0);
    }
    70% {
      background-color: var(--color3);
    }
    80% {
      background-color: var(--color2);
    }
    90% {
      background-color: var(--color1);
    }
    100% {
      background-color: var(--color2);
    }
  } */
  