:root {
    --div-background-color: rgb(11, 11, 11);
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 11, 11);
}

.v1-button {
    margin: 0 auto;
    margin-top: 25px;
}


/* ------- ANIMATION ------- */
.animation {
    display: flex;
    width: 90%;
    height: 30vh;
    background-color: rgb(11, 11, 11);
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    position: relative;
}

#main {
    display: flex;
    width: 80vw;
    height: 70px;
    max-width: 80vw;
    min-width: 20%;
    max-height: 25vh;
    border: 1px solid white;
    margin: 0 auto;
    padding: 1px;
    border-radius: 4px;
    overflow: auto;
    resize: both;
}

#main div {
    flex: 1 auto;
    background: var(--div-background-color);
    display: inline-block;
    border: 1px solid rgb(11, 11, 11);
    border-radius: 10px;
}

#reset-size, #animation-direction {
    width: 10vw;
    height: 2vh;
    margin: 0 auto;
    margin-right: 5%;
    margin-top: 5px;
    background-color: rgb(11, 11, 11);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 1px 1px 5px white;
}

#reset-size:hover, #animation-direction:hover {
    box-shadow: none;
}

#reset-size:active, #animation-direction:active {
    background-color: #444;
}


/* ------- CONTROLS ------- */
.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    justify-items: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    height: fit-content;
}

.controls div {
    display: grid;
    grid-template: 1fr 1fr / 40px 1fr 40px;
    width: 190px;
    width: auto;
    height: 50px;
    margin: 10px auto;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 10px;
}

.controls label {
    grid-area: 1 / 1 / 2 / 4;
    color: white;
}

.controls input {
    width: 10vw;
    height: 21px;
    border: 1px solid white;
    margin: 0px auto;
    border-radius: 40px;
    background-color: rgb(11, 11, 11);
    color: white;
    text-align: center;
    font-size: 18px;
}

.controls input:focus {
    background-color: #444;
}

.controls input:invalid {
    outline: red;
}

input[type=color] {
    width: 15vw;
    height: 25px;
    grid-area: 2 / 1 / 3 / 4;
}

input[type=color]:hover {
    cursor: pointer;
    border-color: #4CAF50;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.decrease {
    grid-area: 2 / 1 / 3 / 2;
}

.increase {
    grid-area: 2 / 3 / 3 / 4;
}

.controls button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
    margin: 0 10px;
    background-color: rgb(11, 11, 11);
    border: 1px solid white;
    color: white;
    font-weight: 500;
    font-size: 20px;
    box-shadow: 1px 1px 5px white;
    transition-duration: 0.1s;
}

#animation-direction {
    margin: 0 auto;
    width: 150px;
    grid-area: 1 / 1 / 3 / 4;
    font-weight: 100;
    font-size: 16px;
    padding: 0;
}

button:hover {
    box-shadow: none;
    cursor: pointer;
}

.increase:active {
    background-color: #4CAF50;
}

.decrease:active {
    background-color: #f44336;
}

.animation-buttons {
    margin-top: 30px;
}


/* ------- BUTTONS ------- */
.button {
    display: block;
    margin: 10px auto;
    background-color: #ddd;
    color: #222;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 18px;
    transition-duration: 0.2s;
}

#reset-button {
    color: white;
    width: 30vw;
    background-color: rgb(11, 11, 11);
    border: 1px solid #f44336;
    padding: 8px;
    transition-duration: 0.2s;
}

#start-button {
    color: white;
    width: 30vw;
    background-color: rgb(11, 11, 11);
    border: 1px solid #4CAF50 ;
    padding: 8px;
    transition-duration: 0.2s;
}

#pause-button {
    color: white;
    width: 30vw;
    background-color: rgb(11, 11, 11);
    border: 1px solid #eee;
    padding: 6px;
    transition-duration: 0.2s;
}

#reset-button:hover {
    background-color: #f44336;
    color: white;
}

#reset-button:active, #pause-button:active, #start-button:active {
    transform: scale(0.9);
}

#start-button:hover {
    background-color: #4CAF50;
    color: white;
}

#pause-button:hover {
    background-color: #ccc;
    color: #222;
}  